
.multi-animation.ng-enter
 {
   -webkit-transform-origin: 50% 50%;
  -webkit-animation: scaleUp .5s both ease-in;
  -moz-transform-origin: 50% 50%;
  -moz-animation: scaleUp .5s both ease-in;
  transform-origin: 50% 50%;
  animation: scaleUp .5s both ease-in;
}
/*.multi-animation.ng-leave
{
   -webkit-transform-origin: 50% 50%;
  -webkit-animation: slideOutLeft .5s both ease-in;
  -moz-transform-origin: 50% 50%;
  -moz-animation: slideOutLeft .5s both ease-in;
  transform-origin: 50% 50%;
  animation: slideOutLeft .5s both ease-in; 
}
*/

.fade-animation.ng-enter
{
  -webkit-transition: 1.5s linear all;
  -moz-transition: 1.5s linear all;
  -o-transition: 1.5s linear all;
  transition: .3s linear all;
}

.multi-animation.ng-enter {
  z-index: 100;
  opacity: 0;
}
.multi-animation.ng-enter.ng-enter-active {
  opacity: 1;
}
.multi-animation.ng-leave {
  z-index: 101;
  opacity: 1;
}
.multi-animation.ng-leave.ng-leave-active {
  opacity: 0;
}


/* for fade only*/
.fade-animation.ng-enter {
  z-index: 100;
  opacity: 0;
}
.fade-animation.ng-enter.ng-enter-active {
  opacity: 1;
}
.fade-animation.ng-leave {
  z-index: 101;
  opacity: 1;
}
.fade-animation.ng-leave.ng-leave-active {
  opacity: 0;
}


/* rotate and fall */
@-webkit-keyframes rotateFall {
  0% { -webkit-transform: rotateZ(0deg); }
  20% { -webkit-transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; }
  40% { -webkit-transform: rotateZ(17deg); }
  60% { -webkit-transform: rotateZ(16deg); }
  100% { -webkit-transform: translateY(100%) rotateZ(17deg); }
}
@-moz-keyframes rotateFall {
  0% { -moz-transform: rotateZ(0deg); }
  20% { -moz-transform: rotateZ(10deg); -moz-animation-timing-function: ease-out; }
  40% { -moz-transform: rotateZ(17deg); }
  60% { -moz-transform: rotateZ(16deg); }
  100% { -moz-transform: translateY(100%) rotateZ(17deg); }
}
@keyframes rotateFall {
  0% { transform: rotateZ(0deg); }
  20% { transform: rotateZ(10deg); animation-timing-function: ease-out; }
  40% { transform: rotateZ(17deg); }
  60% { transform: rotateZ(16deg); }
  100% { transform: translateY(100%) rotateZ(17deg); }
}


/* scale up */
@keyframes scaleUp {
  from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}
@-moz-keyframes scaleUp {
  from    { opacity: 0.3; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleUp {
  from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
  from  { transform:translateX(100%); }
  to    { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
  from  { -moz-transform:translateX(100%); }
  to    { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
  from  { -webkit-transform:translateX(100%); }
  to    { -webkit-transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
  from  { transform:translateY(100%); }
  to    { transform: translateY(0); }
}
@-moz-keyframes slideInUp {
  from  { -moz-transform:translateY(100%); }
  to    { -moz-transform: translateY(0); }
}
@-webkit-keyframes slideInUp {
  from  { -webkit-transform:translateY(100%); }
  to    { -webkit-transform: translateY(0); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
  to    { transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {  
  to    { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
  to    { -webkit-transform: translateX(-100%); }
}

/* rotate out newspaper */
@-webkit-keyframes rotateOutNewspaper {
  to { -webkit-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@-moz-keyframes rotateOutNewspaper {
  to { -moz-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@keyframes rotateOutNewspaper {
  to { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}