label{
	color: transparent;
	background: url('http://rainycafe.com/img/sprite.png') -40px 0  no-repeat;
	border-radius: 14px;
	box-shadow: 0 1px 2px #888, 0 0px 3px #777, inset 0 -1px 5px #333;
	display: block;
	position: relative;
	text-indent: 100%;
	width: 65px; height: 29px;
	-webkit-transition: background-position .3s ease;
	-moz-transition: background-position .3s ease;
	cursor: pointer;
	font-size: .01em;
	float: left;
}

input[type=checkbox] {
	display: none;
}

label span {
	background: url('http://rainycafe.com/img/sprite.png') -1px -30px no-repeat;
	border: 0px solid transparent;
	border-radius: 14px;
	box-shadow: 0 1px 3px #000, 0 2px 13px #000;
	content: "";
	display: block;
	position: absolute; top: 0; left: -1px;
	width: 28px; height: 28px;
	-webkit-transition: left .3s ease;
	-moz-transition: left .3s ease;
}

input[type=checkbox]:checked + label {
	background-position: 0 0;
}

input[type=checkbox]:checked + label span {
	left: 40px;
}