<!--
 /*
  Function: Main Includes and file ffor angular app
  Interacts with DB: No
  Entry point: ng-View

  Author: Pulkit Gupta
  Query email: pulkit.itp@gmail.com
 */

-->

<!DOCTYPE html>

<html ng-app="dstApp">

<head>
<!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/readable/bootstrap.min.css">-->
<link rel="stylesheet" type="text/css" href="/pages/theme/reset.css"  media="screen" />       
<link rel="stylesheet" type="text/css" href="/pages/theme/grid.css"  media="screen" />

<!-- Main stylesheet -->
<link rel="stylesheet" type="text/css" href="/pages/theme/styles.css"  media="screen" />                          
<link rel="stylesheet" type="text/css" href="/pages/theme/theme-blue.css"  media="screen" />
<link rel="stylesheet" type="text/css" href="/stylesheets/fade_animate.css"  media="screen" />
<link rel="stylesheet" type="text/css" href="/stylesheets/power.css"  media="screen" />

</head>

<body  ng-controller="mainController" >
  <!-- angular templating -->
  <!-- this is where content will be injected -->
  <div ng-view class = "{{ pageClass }}  fade-animation"></div>
  
  <!--all Java scripts-->
  
  <!--3rd party -->
  <script src="/javascripts/angular_lib/angular.js"></script>
  <script src="/javascripts/angular_lib/angular-route.js"></script>
  <script src="/javascripts/angular_lib/angular-animate.js"></script>

  <!--Main angular app-->
  <!-- Angular controllers -->
  <script src="/javascripts/angular/main.js"></script>
  <script src="/javascripts/angular/login.js"></script>
  <script src="/javascripts/angular/services.js"></script>
  <script src="/javascripts/angular/member.js"></script>
  <script src="/javascripts/angular/notificationController.js"></script>
  <script src="/javascripts/angular/showDevicesController.js"></script>
  <script src="/javascripts/angular/graph1Controller.js"></script>
  <script src="/javascripts/angular/graph2Controller.js"></script>
  <script src="/javascripts/angular/graph3Controller.js"></script>
  <script src="/javascripts/angular/livestreamController.js"></script>
  <script src="/javascripts/angular/heatMapController.js"></script>
  <script src="/javascripts/angular/account.js"></script>
  <script src="/javascripts/angular/angular-fullscreen.js"></script>
  <script src="/javascripts/angular/dummy_data.js"></script>

  <script src="/socket.io/socket.io.js"></script>

  <!--
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script> 
  -->
  <script type="text/javascript" src="/javascripts/global_lib/jquery.min.js"></script>

  <script type="text/javascript" src="/javascripts/global_lib/bootstrap.min.js"></script>




  <link href="stylesheets/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
  <link href="stylesheets/buttons/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
  <script src="javascripts/buttons/jquery-1.10.2.js"></script>
  <script src="javascripts/buttons/jquery-ui-1.10.4.custom.js"></script>

  <!--3rd party -->
  <!--
  <script src="http://code.highcharts.com/highcharts-more.js"></script>
  -->
  <script src="/javascripts/charts/highcharts.js"></script>
  <script src="/javascripts/charts/exporting.js"></script>
  <script type="text/javascript" src="/javascripts/date_range/moment.js"></script>
  <script  src="/javascripts/date_range/daterangepicker.js"></script>

  <!-- notifications -->
  <script type="text/javascript" src="3rd_party/noty-2.2.4/packaged/jquery.noty.packaged.min.js"></script>

  <!-- graphs and date picker -->
  	
  <script src="/javascripts/heatMap/fabric.js"></script>
  <script src="/javascripts/heatMap/heatmap.js"></script>  

  <!-- Table sorter -->
  <script type="text/javascript" src="javascripts/tablesorter/jquery.tablesorter.js"></script> 

</body>

</html>
