<!--
 /*
  Function: To display details about the departmnent
  Interacts with DB: No
  Entry point: internal

  Author: Pulkit Gupta
  Query email: pulkit.itp@gmail.com
 */

-->
<div class="grid_7">	
	
	<h1>DST </h1>
	<div style="clear:both;"></div><div style="clear:both;"></div><div style="clear:both;"></div><div style="clear:both;"></div>
</div>
<div style="clear:both;"></div><div style="clear:both;"></div><div style="clear:both;"></div><div style="clear:both;"></div>