<!--
 /*
  Function: account interaction with backend
  Interacts with DB: No
  Entry point: account controller

  Author: Pulkit Gupta
  Query email: pulkit.itp@gmail.com
 */

-->

<div class="grid_5" ng-controller= "accountController">
  <div class="module">
    <h2><span>Account overview</span></h2>
    <div class="module-body">
      
      <p>
        <strong>User: </strong>{{user}}<br />
        <strong>Your last visit was on: </strong>16 May 2014,<br />
        <strong>From IP: </strong>{{ip}}
      </p>
      
      <div>
        <div class="indicator">
          <div style="width: {{filled}}%;"></div><!-- change the width value (23%) to dynamically control your indicator -->
        </div>
        <p>Device database space storage: {{filled}} MB out of 100MB</p>
      </div>
      
      <div>
        <div class="indicator">
          <div style="width: {{dbval}}%;"></div><!-- change the width value (100%) to dynamically control your indicator -->
        </div>
        <p>Last Database synced: {{dblastupdated}}}</p>
    
      </div>
      
      <p>
        For more details<br />
        <a href="">click here</a><br />
      </p>
    </div> 
  </div> <!-- MODULE ENDED -->
  <div style="clear:both;"></div>
</div> <!-- End .grid_5 -->