<!--
 /*
  Function: All dashboard icons
  Interacts with DB: No
  Entry point: dashboard modules

  Author: Pulkit Gupta
  Query email: pulkit.itp@gmail.com
 */

-->
<div class="grid_7 " ng-switch= "menu_type" >
  <div  ng-switch-when= "0" class="fade-animation" >
      <a href="" class="dashboard-module "  >
        <img src="/pages/theme/Crystal_Clear_calendar.gif"  width="64" height="64" alt="edit" />
        <span>Time range</span>
      </a>

      <a href="" class="dashboard-module " >
        <img src="/pages/theme/password.png"  width="64" height="64" alt="edit" />
        <span>Change password</span>
      </a>

      <a href="" class="dashboard-module "  >
        <img src="/pages/theme/Crystal_Clear_user.gif"  width="64" height="64" alt="edit" />
        <span>My profile</span>
      </a>

      <a href="" class="dashboard-module "  >
        <img src="/pages/theme/Crystal_Clear_stats.gif"  width="64" height="64" alt="edit" />
        <span>Device Statistics</span>
      </a>

      <a href="" class="dashboard-module "  >
        <img src="/pages/theme/Crystal_Clear_settings.gif"  width="64" height="64" alt="edit" />
        <span>Settings</span>
      </a>
  </div>
  <div ng-switch-when= '1' class="fade-animation">
    <a href="" class="dashboard-module ">
      <img src="/pages/theme/add_device.png"  width="64" height="64" alt="edit" />
      <span>Add device</span>
    </a>

    <a href="" class="dashboard-module" ng-controller="accountController" ng-click="updatedb()" >
      <img src="/pages/theme/sync.png"  width="64" height="64" alt="edit" />
      <span>Sync database</span>
    </a>

    <a href="" class="dashboard-module "  >
      <img src="/pages/theme/db_settings.png"  width="64" height="64" alt="edit" />
      <span>Database settings</span>
    </a>

    <a href="" class="dashboard-module" ng-click="changeView('showDevices')">
      <img src="/images/page_images/show_devices.png"  width="64" height="64" alt="edit" />
      <span>Show devices</span>
    </a> 
  </div>
   
  <div ng-switch-when= '2' class="fade-animation">
    <a href="" class="dashboard-module " ng-click="changeView('graph1')">
      <img src="/pages/theme/events_graph.gif"  width="64" height="64" alt="edit" />
      <span>Events-count Graph</span>
    </a>

    <a href="" class="dashboard-module "  ng-click="changeView('graph2')">
      <img src="/pages/theme/events_gannt.png"  width="64" height="64" alt="edit" />
      <span>Events-Gannt Chart</span>
    </a>

    <a href="" class="dashboard-module "  ng-click="changeView('graph3')">
      <img src="/images/page_images/location_graph.png"  width="64" height="64" alt="edit" />
      <span>Location-Time Chart</span>
    </a>

    <a href="" class="dashboard-module" ng-click="changeView('heatmap')" >
      <!--<img src="/pages/theme/house.gif"  width="64" height="64" alt="edit" />  -->
      <img src="/images/page_images/heatmap2.png"  width="64" height="64" alt="edit" />
      <span>Heat map</span>
    </a> 

    <a href="" class="dashboard-module " ng-click="changeView('livestream')">
      <img src="/images/page_images/video.jpg"  width="64" height="64" alt="edit" />
      <span>Live RGBD stream</span>
    </a>
    
   <!-- <a href="" class="dashboard-module " >
      <img src="/images/page_images/labelme.png"  width="64" height="64" alt="edit" />
      <span>Image labeling</span>
    </a>  -->
  </div>
   
   <div style="clear: both"></div>   
</div> <!-- End .grid_7 -->