<!--
 /*
  Function: Footer design
  Interacts with DB: No
  Entry point: ng-View

  Author: Pulkit Gupta
  Query email: pulkit.itp@gmail.com
 */

-->
<div class="container_12">
	<div class="grid_12" style="{float: right}">
		<p>developed by <a href="http://pulkit.eu">pulkit</a></p>
	</div>
</div>
<div style="clear:both;"></div>