<!--
 /*
  Function: Graph1
  Interacts with DB: No
  Entry point: graph1controller

  Author: Pulkit Gupta
  Query email: pulkit.itp@gmail.com
 */

-->
<div ng-controller="graph1Controller"> 

    <link href="/stylesheets/graphs/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/graphs/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/date_range/daterangepicker-bs3.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/led/led.css" />
  <!--This glocal var is for debugging only-->
  

  <div class="well">
    <div class="control-group">                

      <label style="" >Choose your range</label>                
      
      <select style="float: right" ng-model = "graph1_interval" ng-change= "change_graph1_interval()" style="width:190px">        
        <option value=4 >Yearly</option>
        <option value=3 >Monthly</option>
        <option value=2 >Weekly</option>            
        <option value=1 >Daily</option>            
        <option value=0 >Hourly</option>            
        
      </select>

      </br>
      </br>
      <div style="float: right; display: inline">         
        <label>Auto-sync every <input type="textfield" ng-change= "change_graph1_timer()" ng-model = "graph1_timer_value" size="3" value ="5">seconds </label> 
        <input type="checkbox" ng-model="autosync" ng-click = "graph1_timer()" ng-true-value=0 ng-false-value=1 />          
        <div class="led led1">        
        </div>        
      </div>
      

      <div class="input-prepend input-group">            
        <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
        <input type="text" style="width: 400px" name="reservation" id="range_graph1" class="form-control" value="{{rangeStamp}}"  class="span4"/>                    
      </div>    

    </div>
  </div>  

  <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </br></br></br></br></br>
</div>








