<!--
 /*
  Function: graph3 design
  Interacts with DB: No
  Entry point: ng-controller

  Author: Pulkit Gupta
  Query email: pulkit.itp@gmail.com
 */

-->

<div ng-controller="graph3Controller"> 

	
	
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/date_range/daterangepicker-bs3.css" />
	<script type="text/javascript">
	var chart3;
	</script>

	<div class="well">
	  <div class="control-group">                

	    <label style="" >Choose your range</label>                
	    
	    <select style="float: right" ng-model = "graph3_interval" ng-change= "change_graph3_interval()" style="width:190px">
	      <option value="">Automatic Interval</option>
	      <option value="yearly">Yearly</option>
	      <option value="monthly">Monthly</option>
	      <option value="weekly">Weekly</option>            
	      <option value="daily">Daily</option>            
	      <option value="hourly">Hourly</option>            
	      
	    </select>

	    <div class="input-prepend input-group">            
	      <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
	      <input type="text" style="width: 400px" name="reservation" id="range_graph3" class="form-control" value="06/11/2014 12:00 AM - 06/12/2014 12:00 AM"  class="span4"/>                    

	    </div>          
	  </div>
	</div>  

	<div id="chartDiv"></div>
	</br></br></br></br></br>
</div>