<!--
 /*
  Function: contains all the header
  Interacts with DB: No
  Entry point: internal

  Author: Pulkit Gupta
  Query email: pulkit.itp@gmail.com
 */

-->
  <div id="header">


   <!-- Header. Status part -->
    <div id="header-status">
      <div class="container_12">

		<div class="grid_8">
           &nbsp;
			 <!--<h2>OPDEMIVA</h2> -->
		  <img src="/images/logo.png" width="240px" height="60px" />
        </div>
        <div class="grid_4">
          <a href="" id="logout" ng-click="logout()">
            Logout            
          </a>
          
        </div>
      </div>
      <div style="clear:both;"></div>
    </div> <!-- End #header-status -->      

    <!-- Header. Main part  ALL MENUS-->
    
    <div id="header-main">
      <div class="container_12">
      <div class="grid_12">
        <div id="logo">
          <ul id="nav">
            <li ng-click="updateMenu(0)" id="{{menu[0]}}"><a href="">Personal data</a></li>
            <li ng-click="updateMenu(1)" id="{{menu[1]}}"><a href="">Remote devices</a></li>
            <li ng-click="updateMenu(2)" id="{{menu[2]}}"><a href=""> Visualization</a></li>
            <li ng-click="updateMenu(3)" id="{{menu[3]}}"><a href="">Contact</a></li>
            <li ng-click="updateMenu(4)" id="{{menu[4]}}"><a href="">About</a></li>
            <li ng-click="goFullscreen()" id="{{menu[5]}}"><a href="">Toggle-Fullscreen</a></li>
          </ul>
        </div><!-- End. #Logo -->
      </div><!-- End. .grid_12-->
      <div style="clear: both;"></div>
      </div><!-- End. .container_12 -->
    </div> <!-- End #header-main -->

    <div id="subnav">
      <div class="container_12">
      <div class="grid_12">
        <ul>                      

        </ul>

      </div><!-- End. .grid_12-->
      </div><!-- End. .container_12 -->
      <div style="clear: both;"></div>
    </div> <!-- End #subnav -->
  </div> <!-- End #header -->