 <!--
  GUI for heatMap

  Author: Pulkit Gupta
  Query email: pulkit.itp@gmail.com
 -->
 

<div ng-controller="heatMapController"> 

	  <link href="/stylesheets/graphs/bootstrap.min.css" rel="stylesheet">
	  <link href="/stylesheets/graphs/font-awesome.min.css" rel="stylesheet">
	  <link rel="stylesheet" type="text/css" href="/stylesheets/date_range/daterangepicker-bs3.css" />
	  <link rel="stylesheet" type="text/css" href="/stylesheets/led/led.css" />
	<!--This glocal var is for debugging only-->
	  		
	<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/location_legend/location_legend.css" />      
		
	<style>
	  #min { float:left; }
	  #max { float:right; }
		
	</style>	

	<div class="well">
	  <div class="control-group">                

	    <label style="" >Choose your range</label>                
	    
	    <select style="float: right" ng-model = "heatMap_interval" ng-change= "change_heatMap_interval()" style="width:190px">
	      <option value="">Automatic Interval</option>
	      <option value="yearly">Yearly</option>
	      <option value="monthly">Monthly</option>
	      <option value="weekly">Weekly</option>            
	      <option value="daily">Daily</option>            
	      <option value="hourly">Hourly</option>            
	      
	    </select>

	    </br>
   		</br>
   		<div style="float: right; display: inline">   			
   			<label>Auto-sync every <input type="textfield" ng-change= "change_heatMap_timer()" ng-model = "heatMap_timer_value" size="3" value ="5">seconds </label> 
   			<input type="checkbox" ng-model="autosync" ng-click = "heatMap_timer()" ng-true-value=0 ng-false-value=1 />          
   			<div class="led led1">	   		
	   		</div>	    	
   		</div>
	    

	    <div class="input-prepend input-group">            
	      <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
	      <input type="text" style="width: 400px" name="reservation" id="range_heatMap" class="form-control" value="{{rangeStamp}}"  class="span4"/>                    

	    </div>    

	  </div>
	</div>  


	<div class="block" style=" float: left">	    
	    <div id="heatmap" class="heatmap" style="position: relative;">  
	        <canvas id="c1" width="800" height="500" style="border:1px solid #000"></canvas>
	    </div>
	   </br></br></br></br></br>
	</div>

	</br></br></br></br></br></br></br></br> </br></br></br></br>
	<div class="block" style=" float: left">
	 <div class='my-legend' style= "float: left">
	  <div class='legend-scale'>
	    <ul class='legend-labels'>        
	      <div class='legend-title'> 
	        <h3>Event HeatMap</h3>
	        <br><br> <b>{{status}}</b>
	      </div>                            
	      <span id="min"></span>
	      <span id="max"></span>
	      <img id="gradient" src="" style="width:100%" />
	      
	      Naming Enable <input style="vertical-align:middle" ng-model="nameVisible" ng-click="toggleNames()" type= "checkbox"/>
	      Furniture Enable <input style="vertical-align:middle" ng-model="furnitureVisible" ng-click="toggleFurniture()" type= "checkbox"/>

	      <input style="float: right; vertical-align:middle" type= "button" value="Hard-Reload"/>
	    </ul>     

	  </div>
	  </div>
	
	  </br></br></br></br></br>

	  <div class='my-legend' style= "float: left">
	  <div class='legend-scale'>
	    <ul class='legend-labels'>
	      <div class='legend-title'> Controller: Events to map</div>
	      Auto-reload <input style="vertical-align:middle" type= "checkbox"/>        	      
	      <select ng-model = "currentEvent" ng-change= "changeCurrentEvent()"  style="width:190px">
	      <!--ng-options="events for events in eventsList"-->
	      	<option value="-1" >None</option>
	      	<option value="0">Sitting on chair</option>
	      	<option value="1">Sitting </option>	      	
	      	<option value="2">Sleeping</option>         	
	      	<option value="3">Lying</option>
	      	<option value="4">Moving with wheeled walker </option>
	      	<option value="5">Moving </option>            
	       	<option value="6">Standing</option>         
	       	<option value="7">Unknown</option>
	        <option value="8">Drinking </option>
	        <option value="9">Eating </option>            
	        <option value="10">Person is outside</option>         
	        <option value="11">Tabletten morgens confirmed</option>         
	        <option value="12">Tabletten morgens timeout</option>         
	        <option value="13">Empty room</option>         
	        <option value="14">Tabletten mittags timeout</option>         
	        <option value="15">Tabletten mittags confirmed</option>         
	        <option value="16">Has Visitor</option>         
	        <option value="17">Resting</option>         
	       
	      </select>            

	    </ul>
	  </div>
	  </div> 
	  </br></br></br></br></br>
	</div>  
	</br></br></br></br></br>
</div>