<!--
  Function: live stream interface
  Interacts with DB: bno
  Entry point: controller

  Author: Pulkit Gupta
  Query email: pulkit.itp@gmail.com
 -->

<div ng-controller= "livestreamController" >

  <div class="grid_7 " >
       
         <div id="main" align = "center">   
              
             <div align ="center"> 
               <style type="text/css">
                  .monitor{
                     height: 540px;
                     width:100%;
                  }
               </style>
                <img class = "monitor" style = "{display: inline;}" id = "imgelem_rgb" src = "{{imagerec}}"> </img>
                </br></br></br></br>
             </div>
          </div>
  </div>


  <div class="grid_5" >


    <div class="module">


      <h2><span>Video Settings</span></h2>
      <div class="module-body" >
        
        <p>
          <strong > Device:  </strong> 
          <select ng-model = "clientid" ng-change= "changeDevice()" style="width:190px">
            <option value="">No connection</option>
            <option value="france">Location (India)</option>
            <option value="f23_pulkit_pc">Location (Germany)</option>
            <option value="italy">Location (Italy)</option>            
            <option value="f23_pulkit_arm">Location ARM (Germany)</option>            
                     
          </select>
          </br>
          <strong > Camera:  </strong> 
          <select ng-model = "cameraId" ng-change= "" style="width:190px">            
            <option value="kinect">Kinect</option>
            <option value="allied">Allied</option>
            <option value="bassler">Bassler</option>            
            
          </select>

          <br/><br/>         
          <strong>Camera status: </strong>
          <label id="sliderLabel">
              <input type="checkbox" ng-model="power" ng-click = "switchPower()" ng-true-value=0 ng-false-value=1 />
              <span id="slider"></span>
              <span id="sliderOn">On</span>
              <span id="sliderOff">Off</span>
          </label>
          <!--<input type="textfield" id="deviceid" ng-model = "clientid" value =""/>
          <input type="button" value="update/change" ng-click="changeDevice()" />
          -->
          </br>          
          <strong>From IP: </strong>134.5.04.109<br/>         
          <strong>Video type: </strong>{{mode}}<br />
          <strong>Framerate: </strong>30 fps<br />
          <strong>Kinect status: </strong>{{power}}       
        </p>
        
        
        <div>
          <div class="indicator">
            <div style="width: 98%;"></div><!-- change the width value (100%) to dynamically control your indicator -->
          </div>
          <p>Network quality: 98%</p>
        </div>
        
        <p>
          Extra processing: 
          <select style="width:190px">
            <option value="">Chair detection</option>
            <option value="">Person detection</option>
            <option value="">Object1 detection</option>
            <option value="">Object2 detection</option>
          </select>
        </p>
        

        </br></br>
        <h3> Switch camera type:</h3>
        <div id="radioset">
          <input type="radio" id="radio1" name="radio" ng-click = "switchcam(10)" checked="checked"> <label for="radio1">Depth map</label>
          <input type="radio" id="radio2" name="radio" ng-click = "switchcam(11)" > <label for="radio2">RGB</label>
          <input type="radio" id="radio3" name="radio" ng-click = "switchcam(12)">  <label for="radio3">IRsensor</label>          
        </div>                 

      </div> 

    </div> <!-- MODULE ENDED -->
    <div style="clear:both;"></div>
  </div> <!-- End .grid_5 -->


  
</div>



