<!--
 /*
  Function: view for devices
  Interacts with DB: No
  Entry point: ng-View

  Author: Pulkit Gupta
  Query email: pulkit.itp@gmail.com
 */

-->
<div ng-controller="showDevicesController" > 

    
    
  <link rel="stylesheet" type="text/css" href="/stylesheets/led/led.css" />
  <!--This glocal var is for debugging only-->
  <link rel="stylesheet" type="text/css" href="stylesheets/tablesorter/blue/style.css">  

  
  <table id="myTable" class="tablesorter"> 
          <thead> 
              <tr> 
                  <th>Device-ID</th> 
                  <th>IP Address</th> 
                  <th>Type</th> 
                  <th>Livestream</th> 
                  <th>Action</th>
                  <th></th> 
                  <th>Status</th>
              </tr> 
          </thead> 

          <tbody>
              <tr ng-repeat="rowObj in data">
                  <td ng-repeat=" x in rowObj.device_data">
                      <span ng-switch="x">
                          <div ng-switch-when="*actions"> 
                              <input type="button" value="Edit">
                              <input type="button" value="Delete">
                              <input type="button" value="Disable">
                          </div>
                          <div ng-switch-when="*led"> 
                              <div class="led led1 {{rowObj.led}}"></div> 
                          </div>
                          <div ng-switch-default>{{ x }}</div>
                      </span>
                      

                  </td>
              </tr>
          </tbody>
      </table> 
  </br></br></br></br></br>
</div>








