<!--
 /*
  Function: member page
  Interacts with DB: No
  Entry point: internal

  Author: Pulkit Gupta
  Query email: pulkit.itp@gmail.com
 */

-->
  <title>DST Opdemiva interface</title>       
  <!-- Header -->
  <div id="header" class="slide-animate_to_be_done" ng-include="url.header"></div>    

  
  <!-- ng switch begins -->
  <div id="variable_body" class="container_12" ng-switch= "tabView" >
    <!-- Dashboard icons -->
    <div ng-switch-when= "icons" class="fade-animation">
      <div id="dashboard_icons" class="slide-animate_to_be_done" ng-include="url.dashboard"></div>  
      <div ng-show="menu_type!='3' && menu_type!='4'" class= "">
        <!-- Account overview -->
        <div id="dashboard_icons" class="slide-animate_to_be_done" ng-include="url.account_overview" class="my-fade-animation"></div>  
      </div>
    </div>  
    
    <div ng-switch-when= "about" class = "fade-animation">      
      <div id="about-page" class="slide-animate_to_be_done" ng-include="url.about"></div>        
    </div>

    <div ng-switch-when= "showDevices" class = "fade-animation">      
      <div id="dashboard_icons" class="slide-animate_to_be_done" ng-include="url.showDevices"></div>
    </div>


    <!-- include graph html with socket-->
    <div ng-switch-when= "graph1" class = "fade-animation">      
      <div id="dashboard_icons" class="slide-animate_to_be_done" ng-include="url.graph1"></div>
    </div>

    <div ng-switch-when= "graph2" class = "fade-animation">      
      <div id="dashboard_icons" class="slide-animate_to_be_done" ng-include="url.graph2"></div>
    </div>

    <div ng-switch-when= "graph3" class = "fade-animation">      
      <div id="dashboard_icons" class="slide-animate_to_be_done" ng-include="url.graph3"></div>
    </div>
    <!-- include live stream -->
    <div ng-switch-when= "livestream">    
      <div id="dashboard_icons" class="slide-animate_to_be_done" ng-include="url.livestream"></div>
    </div>

    <!-- include live stream -->
    <div ng-switch-when= "heatmap">        
      <div id="dashboard_icons" class="slide-animate_to_be_done" ng-include="url.heatmap"></div>
    </div>




    <div style="clear:both;"></div>
    
    <!--NOTIFICATION AREA will always be there so no when statment-->
    <div class="grid_12" >
    
      <div id="noty_area" ng-controller="notificationController">      
      <!--filled with jquery, Later with angular-->
      </div>
    </div>

    <div style="clear:both;"></div>  

  </div>
  <!-- Footer -->
  <div id="footer" class="slide-animate_to_be_done" ng-include="url.footer"></div>      
