<!--
 /*
  Function: To be implemented
  Interacts with DB: No
  Entry point: 

  Author: Pulkit Gupta
  Query email: pulkit.itp@gmail.com
 */

-->
<div>
	<h1>Contact Page</h1>
	
	<p>{{ message }}</p>
</div>