<!--
 /*
  Function: currently not needed, in case of home page write
  Interacts with DB: No
  Entry point: ng-View

  Author: Pulkit Gupta
  Query email: pulkit.itp@gmail.com
 */

-->
<title>{{ title }}</title>
<div class="jumbotron text-center">
	<h1>Home Page</h1>

	<p>{{ message }}</p>
	
</div>