<!--
 /*
  Function: main login member page
  Interacts with DB: No
  Entry point: internal

  Author: Pulkit Gupta
  Query email: pulkit.itp@gmail.com
 */

-->
<div id="mylogin" ng-controller="loginController">

<title>{{ title }}</title>


<link rel="stylesheet" type="text/css" href="./stylesheets/login.css">

<style>
	a:link {color:#414848;}    /* unvisited link */
	a:visited {color:#414848;} /* visited link */
	a:hover {color: #3f9db8}   /* mouse over link */
	a:active {color:#414848;}  /* selected link */
</style>
<!-- Header -->
<div id="header">
	<!-- Header. Status part -->
	<div id="header-status">

		<div class="container_12">
			<div class="grid_8">
				&nbsp;
				<h2>OPDEMIVA</h2> 
			</div>
			<div class="grid_4" >
			  <a href="" id="logout" ng-click="samplelogin()">
			    <b>SAMPLE LOGIN</b>
			  </a>
			  
			</div>
		</div>

		<div style="clear:both;"></div>
	</div> <!-- End #header-status -->    
</div>


<div id="wrapper" >

	<form name="login-form" class="login-form "  ng-submit="doLogin()">

		<div class="header ">
			<h1>Opdemiva Login</h1>
			<span>Enter the details provided by DST</span>
		</div>

		<div class="content">
			<input name="username" type="text" class="input username" placeholder="Username" ng-model="username"/>
			<div class="user-icon"></div>
			<input name="password" type="password" class="input password" placeholder="Password" ng-model="password"/>
			<div class="pass-icon"></div>		
		</div>

		<div class="header2" >
			<span><a href="#">Forgot?</a></span>
		</div>

		<div class="footer">
			<input type="submit" name="submit" value="Login" class="button" />
			<input type="submit" name="submit" value="Register" class="register" />
		</div>

	</form>

</div>

</div>
<!--
<div class="gradient">

</div>
-->
