/* tables */
table.tablesorter {
	color: white;
	font-family:arial;
	background-color: #8dbdd8;
	margin:10px 0pt 15px;
	font-size: 10pt;
	width: 100%;
	text-align: center;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #5a4331;
	/* #006A53 dark green; #5a4331 brown*/
	border: 2px solid black; 
	font-size: 10pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	color: white;
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {

	border: 2px solid black;

	color: black;
	padding: 4px;
	background-color: #FFF;
	vertical-align: center;
	text-align:  center;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
